*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.homepage-body{
    background-image: url('https://c0.wallpaperflare.com/preview/572/961/266/sky-dark-light-clouds.jpg') ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
}